<div class="wrapper" layout="column" flex layout-align="center center" >    	
	<div class="social"  layout="row" class="social" style="padding: 15px 0;">
		<a href="https://www.facebook.com/egnis.hoxha" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
		</a>
		<a href="https://al.linkedin.com/in/egnis-hoxha-6714577b" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
		</a>
		<a href="https://plus.google.com/u/0/103355950979684780838/posts" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
		</a>
	</div>
    <small style="margin-top: 0px;
	    font-size: 12px;
	    font-family: 'Crimson Text', Arial;
	    color: #999999;/*#323232;*/
	    display: block;
	    text-align: center;
	   ">
		Designed &amp; Developed by <a href="https://al.linkedin.com/in/egnis-hoxha-6714577b" target="_blank" style="color:#f5f5f5;font-weight:bold;">Egnis Hoxha</a>
	</small>
</div>


