<!-- <h2>My Awesome Footer</h2> 
<div flex="100" flex-xs="100">
	
		<p class ="footer_contact_address">4578 Marmora Road,Glasgow D04 89GR</p>
		<span class ="footer_contact_numbers">800-2345-678; 800-2345-679</span>
		<p class ="footer_contact_workdays">Mon-Fri 9:00 am to 5:00 pm</p>   
		<div class="smedia_icon_ct">
			<span class="smedia_icon"><i class="fa fa-linkedin"></i></span>
			<span class="smedia_icon"><i class="fa fa-facebook"></i></span>
			<span class="smedia_icon"><i class="fa fa-twitter"></i></span>
		</div>
		<p class ="footer_contact_copyright ">© Copyright BIT 2007 - 2016</p> 	 



</div>
-->

<div class="wrapper" layout="column" flex layout-align="center center" >    	
	<div class="social"  layout="row" class="social" style="padding: 15px 0;">
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
		</a>
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
		</a>
		<a href="#" target="_blank">
			<span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
		</a>

	</div>
    <small style="margin-top: 0px;
	    font-size: 12px;
	    font-family: 'Crimson Text', Arial;
	    color: #999999;/*#323232;*/
	    display: block;
	    text-align: center;
	   ">
		Designed &amp; Developed by <a href="https://al.linkedin.com/in/egnis-hoxha-6714577b" target="_blank" style="color:#f5f5f5;font-weight:bold;">Egnis Hoxha</a>
	</small>
</div>


