<div class="ac-gn-content">
    <ul class="ac-gn-list">
        <li class="ac-gn-item ac-gn-apple">
            <a class="ac-gn-link ac-gn-link-apple" href="#/" data-analytics-title="apple home" id="ac-gn-firstfocus"> <span class="ac-gn-link-text">Apple</span> </a>
        </li>
        <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
            <a class="ac-gn-link ac-gn-link-mac" href="#/" data-analytics-title="mac">   Home
            </a>
        </li>
         <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
            <a class="ac-gn-link ac-gn-link-mac" href="#/services" data-analytics-title="mac">   Services
            </a>
        </li>
        <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
            <a class="ac-gn-link ac-gn-link-mac" href="#/about" data-analytics-title="mac">   About
            </a>
        </li>
        <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
            <a class="ac-gn-link ac-gn-link-mac" href="#/contact" data-analytics-title="mac">   Contact
            </a>
        </li>
    </ul>
</div>