<div class="md-toolbar-tools docs-toolbar-tools toolbar-style">
        <div layout="row" flex="100" layout-xs="column">
            <div flex="25" > 
                <div layout="row" layout-xs="column" hide-xs>
                    <a href="#/" class="logo">
                        <img ng-src="./public/img/sample_logo.png" width="100" height="48">
                    </a>  
                </div>
                <div layout="row" layout-xs="column" hide-gt-sm hide-sm>
                   
                    <i class="material-icons lista_mob" style="width:100px; height:48px;" ng-click="show_mobile();">view_list</i>
                    <i class="clear_menu material-icons" ng-click="remove_mobile();">clear</i>
                </div>
            </div>
           

            <div flex="75" style="padding:14px 0px;font-size: 16px;">   
                <div layout="row" layout-xs="column" style="float:right;color:#039be5;">
                    <a href="#/" style="padding: 0 5px;">
                        <span>Home</span>
                    </a>
                     <a href="#/about" style="padding: 0 5px;">
                        <span>About</span>
                    </a>
                    <a href="#/services" style="padding: 0 5px;">
                        <span>Services</span>
                    </a>
                    <a href="#/contact" style="padding: 0 5px;">
                        <span>Contact</span>
                    </a>
                </div>
            </div>
        </div>
</div>


