<div  layout="column" class="mob_menu">
            <div layout="column" ng-click="vanish_menu();" class="nav-item-mobile">
                <a href="#/" style="padding: 0 5px;">
                    <span>Home</span>
                </a>
            </div>
            <div layout="column" ng-click="vanish_menu();" class="nav-item-mobile">
        		    <a href="#/about" style="padding: 0 5px;">
                    <span>About</span>
                </a>
        	  </div>
          	<div layout="column" ng-click="vanish_menu();" class="nav-item-mobile">
                <a href="#/services" style="padding: 0 5px;">
                    <span>Services</span>
                </a>
            </div>
            <div layout="column" ng-click="vanish_menu();" class="nav-item-mobile">
                <a href="#/contact" style="padding: 0 5px;">
                    <span>Contact</span>
                </a>
            </div>
    		</div>
        <div  class="mob_menu_mask" layout="column" ng-click="hide_mask();"></div>