<div layout="column" layout-xs="column">
    <div layout="row" layout-wrap class="section_wrapper"  layout-xs="column">
        <div flex-lg="75" flex-gt-md="75" flex-md="75" flex-gt-sm="100" flex-gt-xs="100" flex-xs="100">
            <md-card>
                <div layout="row" layout-xs="column" style="padding:2px 0;">
                    <div flex="100" class="order-row">
                        <span class="md-headline">About Us</span>
                    </div>
                </div>
            </md-card>
            <md-card>
                <md-card-content layout="row" layout-xs="column" layout-align="space-between">
                    <md-card-actions layout="row" layout-xs="column">
                        <div layout="row" layout-xs="column" style="padding: 0 15px;">
                            Our mission is to utilize evidence-base and clinically proven treatments, rehabilitative exercises and patient education to assist our patients to recover from any muscle, bone and joint conditions. We strive to restore full bodily function and ability and to maintain optimal wellness of the body and mind.
                        </div>
                    </md-card-actions>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Dr. John Doe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-xs="column" layout-align="space-between">
                    <div class="card-media"> <!-- md-media-xl -->
                        <img src="./public/img/dr_man.jpg" class="md-card-image" width="240" height="348">
                    </div>
                    <md-card-actions layout="row" layout-xs="column">
                        <div layout="row" layout-xs="column" style="padding: 0 15px;">
                       John Doe, MD, FCCP, is a graduate of George Washington University Medical School. He trained in internal medicine at the University of Oregon Health Sciences (UOHS) and pulmonary critical care medicine at UOHS and the University of Southern California.
                        John recently received the Distinguished Service Award from the Society of Critical Care Medicine (an international society comprised of critical care practioners) for his role in patient and physician advocacy.
                        </div>
                    </md-card-actions>
                </md-card-content>      
            </md-card> 
        </div>
        <div flex-lg="25" flex-gt-md="25" flex-md="25" flex-gt-sm="100" flex-gt-xs="100" flex-xs="100">
            <md-card>
                <div layout="column" style="padding: 0px;">
                    <div layout="row" layout-xs="column">  
                        <iframe style="pointer-events:none; border:0;" src="https://maps.google.it/maps?q=NY&output=embed" frameborder="0" width="100%" height="400"></iframe>
                    </div>
                </div>
            </md-card>

            <md-card>
                <div layout="column" style="padding: 10px;">
                    <div layout="row" layout-xs="column">  
                        <h4>Address</h4>
                    </div>
                    <div layout="column" layout-xs="column" style="font-size:14px;"> 
                        <div layout="row" layout-xs="column" class="addr_row">
                            <i class="material-icons">location_on</i>
                            <span class="addr_item">Rr. Gjergj Kastrioti</span> 
                        </div>
                        <div layout="row" layout-xs="column" class="addr_row">
                            <i class="material-icons">call</i>                
                            <span class="addr_item">069113456</span>
                        </div>
                        <div layout="row" layout-xs="column" class="addr_row">
                            <i class="material-icons">mail_outline</i>                
                            <span class="addr_item">clinics@gmail.com</span>  
                        </div>         
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
