<div layout="column" layout-xs="column" >
    <div layout="row" class="section_wrapper"  layout-xs="column" >
        <div flex="100">
            <md-card>
                <div layout="column" layout-xs="column" style="padding:2px 0;">
                    <div flex="100" class="order-row" >
                        <div layout="row" layout-xs="column">
                            <span class="md-headline">Contact</span>
                        </div>
                    </div>
                </div>
            </md-card>
      	
            <md-card>
                <div layout="column"  layout-xs="column" style="padding: 10px;">
  	                <div layout="row" layout-xs="column"> 
                        <form name="userForm" md-content class="md-no-momentum" style="width:100%;">
        	          		    <md-input-container class="md-icon-float md-block">
                                <label>Name</label>
                                <input  type="text" ng-model="name" id="name">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <label>Phone Number</label>
                                <input  type="text" ng-model="phone" id="phone">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input  type="email" ng-model="email" id="email" required placeholder="Email (required)" ng-required="true">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Subject</label>
                                <input  type="text" ng-model="subject" id="subject">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Your Message</label>
                                <textarea   required md-maxlength="150" ng-model="message" id="message"></textarea>
                            </md-input-container>
                            <md-button class="md-raised md-primary" ng-click="formsubmit(userForm.$valid)"  ng-disabled="userForm.$invalid">Send</md-button>
                        </form md-content>
  	          	    </div>
           	    </div>
            </md-card> 

            <md-card>
                <div layout="column" layout-xs="column" style="padding: 10px;">
                    <div layout="row" layout-xs="column"> 
                        <div flex="50" layout="column" flex-xs="100" style="padding: 0 50px;">
                            <div layout="column" layout-xs="column">
                                <div layout="row" layout-xs="column"> 
                                    <h4>Address</h4>
                                </div>
                                <div layout="column" layout-xs="column" style="font-size:14px;"> 
                                    <div layout="row" layout-xs="column" class="addr_row" >
                                        <i class="material-icons">location_on</i>
                                        <span class="addr_item">Rr. Gjergj Kastrioti</span> 
                                    </div>
                                    <div layout="row" layout-xs="column" class="addr_row">
                                        <i class="material-icons">call</i>                
                                        <span class="addr_item">069113456</span>
                                    </div>
                                    <div layout="row" layout-xs="column" class="addr_row">
                                        <i class="material-icons">mail_outline</i>                
                                        <span class="addr_item">rusifizioterapi@gmail.com</span>  
                                    </div>         
                                </div>
                            </div>
                        </div>
                        <div flex="50" flex-xs="100" layout="column" style="padding: 0 50px;">
                            <div layout="column"  layout-xs="column">
                                <div layout="row" layout-xs="column">  
                                    <h4>Business Hours</h4>
                                </div>
                                <div layout="column" layout-xs="column" style="font-size:14px;"> 
                                    <div layout="row" layout-xs="column" class="addr_row" >
                                        <span>Monday_Friday</span>
                                        <span class="addr_item">9 AM - 5 PM</span> 
                                    </div>
                                    <div layout="row" layout-xs="column" class="addr_row">
                                        <span>Saturday</span>              
                                        <span class="addr_item">10 AM - 5 PM</span>
                                    </div>
                                    <div layout="row" layout-xs="column" class="addr_row">
                                        <span>Sunday</span>             
                                        <span class="addr_item">Closed</span>  
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
            <md-card>
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </md-card>
        </div>
    </div>
</div>




