<div layout="column" layout-xs="column">
    <div layout="row" class="section_wrapper"  layout-xs="column" >
        <div flex="100">
            <md-card style="height:450px;overflow-x:hidden;overflow-y:hidden;">
                <slider images="images"/>
            </md-card>
            <md-card>
                <div layout="column" style="padding: 10px;">
    	        	    <div layout="row" layout-xs="column">  
    	          		    <h2>Clinicly Proven Treatments</h2>
    	          	  </div>
        	         	<div layout="row" layout-xs="column"> 
        		            The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
        	         	</div>
             	  </div>
             	  <div layout="column"  layout-xs="column" style="padding: 10px;">
    	        	    <div layout="row" layout-xs="column"> 
    	          		    <div flex="50" flex-xs="100">
                     		    <div layout="column" layout-xs="column">
                        		    <div layout="row" layout-xs="column"> 
    	          					          <h2>Physiotherpay Services</h2>
    	          				        </div>
            	          				<div layout="row" layout-xs="column">
            					              The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
            	         				  </div>
                      		  </div>
                    	  </div>
                    	<div flex="50" flex-xs="100">
                     	    <div layout="column" layout-xs="column">
                        	    <div layout="row" layout-xs="column">  
    	          					        <h2>Get the Excercise you need!</h2>
    	          				      </div>
          	          				<div layout="row" layout-xs="column">
          					              The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
          	         				  </div>
                      		</div>
                    	</div>
             		    </div>
             	  </div>
               	<div layout="column" layout-xs="column" style="padding: 10px;">
               	    <div layout="row" layout-xs="column">  
      	          	    <span><h2>Common Physiotherapy Treatments</h2></span>
      	          		  <i class="material-icons"></i>
      	          	</div>
      	        	  <div layout="row" layout-xs="column">  
      	          	    <div flex="50" flex-xs="100">
                       	    <div layout="column"  layout-xs="column">
                          	    <div layout="row" layout-xs="column">  
      	          					        <md-list flex>
              							            <md-list-item class="" ng-repeat="item in titles">							
                								            <div  class="md-list-item-text" layout="column">
                  								              <p>{{ item.name }}</p>
                								            </div>
              							           </md-list-item>
            							         </md-list>
      	          				      </div>
                        		</div>
                      	</div>
                      	<div flex="50" flex-xs="100">
                       		  <div layout="column" layout-xs="column">
                          	    <div layout="row" layout-xs="column"> 
              	          					<md-list >
                          							<md-list-item class="" ng-repeat="item in titles">								
                            								<div  class="md-list-item-text" layout="column">
                              								  <p>{{ item.name }}</p>
                            								</div>
                          							</md-list-item>
                    							  </md-list>
      	          				      </div>
                        		</div>
                      	</div>
               		 </div>
               	</div>
            </md-card> 
        </div>
    </div>
</div>
