<div layout="column" layout-xs="column">
    <div layout="row" class="section_wrapper"  layout-xs="column" >
        <div flex="100">
            <md-card style="height:450px;overflow-x:hidden;overflow-y:hidden;">
                <slider images="images"/>
            </md-card>
            <md-card>
                <div layout="column" style="padding: 10px;">
    	        	    <div layout="row" layout-xs="column">  
    	          		    <h2>Clinicly Proven Treatments</h2>
    	          	  </div>
        	         	<div layout="row" layout-xs="column"> 
Muscle, bone and joint conditions could be very painful and limit patients from their day-to-day activities. Our physiotherapy clinic's missions is to utilize clinically proven physiotherapy & chiropractic treatments along with rehabilitation exercises to assist our valued patients to restore full bodily function and ability to maintain optimal wellness of body, mind & soul.        	         	</div>
             	  </div>
             	  <div layout="column"  layout-xs="column" style="padding: 10px;">
    	        	    <div layout="row" layout-xs="column"> 
    	          		    <div flex="50" flex-xs="100">
                     		    <div layout="column" layout-xs="column">
                        		    <div layout="row" layout-xs="column"> 
    	          					          <h2>Physiotherpay Services</h2>
    	          				        </div>
            	          				<div layout="row" layout-xs="column">
Physiotherapy gives you top-class personal service and comprehensive care in a welcoming and personal environment. You will improve flexibility, strength, balance and ultimately your body's physical fitness.            	         				  </div>
                      		  </div>
                    	  </div>
                    	<div flex="50" flex-xs="100">
                     	    <div layout="column" layout-xs="column">
                        	    <div layout="row" layout-xs="column">  
    	          					        <h2>Get the Excercise you need!</h2>
    	          				      </div>
          	          				<div layout="row" layout-xs="column">
Need to improve flexibility, strength, balance or fitness? Ask our experienced physiotherapists to create an exercised that is specially designed to improve your physical fitness.          	         				  </div>
                      		</div>
                    	</div>
             		    </div>
             	  </div>
               	<div layout="column" layout-xs="column" style="padding: 10px;">
               	    <div layout="row" layout-xs="column">  
      	          	    <span><h2>Common Physiotherapy Treatments</h2></span>
      	          		  <i class="material-icons"></i>
      	          	</div>
      	        	  <div layout="row" layout-xs="column">  
      	          	    <div flex="50" flex-xs="100">
                       	    <div layout="column"  layout-xs="column">
                          	    <div layout="row" layout-xs="column">  
      	          					        <md-list flex>
              							            <md-list-item class="" ng-repeat="item in titles">							
                								            <div  class="md-list-item-text" layout="column">
                  								              <p>{{ item.name }}</p>
                								            </div>
              							           </md-list-item>
            							         </md-list>
      	          				      </div>
                        		</div>
                      	</div>
                      	<div flex="50" flex-xs="100">
                       		  <div layout="column" layout-xs="column">
                          	    <div layout="row" layout-xs="column"> 
              	          					<md-list >
                          							<md-list-item class="" ng-repeat="item in titles">								
                            								<div  class="md-list-item-text" layout="column">
                              								  <p>{{ item.name }}</p>
                            								</div>
                          							</md-list-item>
                    							  </md-list>
      	          				      </div>
                        		</div>
                      	</div>
               		 </div>
               	</div>
            </md-card> 
        </div>
    </div>
</div>
