<div layout="column" layout-xs="column" style="background:;">
  <div layout="row" layout-wrap class="order-details"  layout-xs="column" style="background:#eee;">
    <div flex-lg="80" flex-gt-md="80" flex-md="80" flex-gt-sm="100" flex-gt-xs="100" flex-xs="100" class="order-details-2"  style="background:;">
<!--         <div class="cart-item" layout="column" layout-xs="column">--> 
        <md-card>
          <div layout="row" layout-xs="column" style="padding:2px 0;">
            <div flex="100" class="order-row" style="background:#fff;">
              <div layout="row" layout-xs="column">
                <div flex="60" flex-xs="60">Shopping Cart</div>
                <div flex="20" flex-xs="20">Price</div>
                <div flex="20" flex-xs="20">Quantity</div>
              </div>
            </div>
          </div>
        </md-card>
      	
      

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Card with image</span>
              <span class="md-subhead">Extra Large</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-xs="column" layout-align="space-between">
            <div class="md-media-xl card-media">
              <img src="./components/user/img/yos2.jpg" class="md-card-image" width="240" height="240">
            </div>
            <md-card-actions layout="row" layout-xs="column">
              <div layout="row" layout-xs="column">  <!-- Ommit float right-->
                The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
            </div>
            </md-card-actions>
          </md-card-content>
              <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Card with image</span>
              <span class="md-subhead">Extra Large</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-xs="column" layout-align="space-between">
            <div class="md-media-xl card-media">
              <img src="./components/user/img/yos2.jpg" class="md-card-image" width="240" height="240">
            </div>
            <md-card-actions layout="row" layout-xs="column">
              <div layout="row" layout-xs="column">  <!-- Ommit float right-->
                The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
            </div>
            </md-card-actions>
          </md-card-content>
        </md-card> 

         <md-card>
          <div layout="column" layout-xs="column" style="padding:2px 0;">
            <div class="container" layout="column" flex="100" style="padding:2px 0;">
              <div layout="row" class="header"><span>Expand</span></div>
              <div layout="row" class="content">
                <ul>
                  <li>This is just some random content.</li>
                  <li>This is just some random content.</li>
                  <li>This is just some random content.</li>
                  <li>This is just some random content.</li>
                </ul>
              </div>
            </div>
            <div class="container" layout="column" flex="100" style="padding:2px 0;">
              <div layout="row" class="header"><span>Expand</span></div>
              <div layout="row" class="content">
                <md-list flex>
                      <md-list-item class="" ng-repeat="item in titles">              
                          <div  class="md-list-item-text" layout="column">
                            <p>{{ item.name }}</p>
                          </div>
                      </md-list-item>
                    </md-list>
              </div>
            </div>
          </div>
        </md-card>
    </div>

    <div flex-lg="20" flex-gt-md="20" flex-md="20" flex-gt-sm="100" flex-gt-xs="100" flex-xs="100">
        <md-card>
          <div layout="column" style="padding: 0px;">
            <div layout="row" layout-xs="column">  <!-- Ommit float right-->
                <iframe style="pointer-events:none; border:0;" src="https://maps.google.it/maps?q=NY&output=embed" frameborder="0" width="100%" height="400"></iframe>
              </div>
           
          </div>
      </md-card>
      <md-card>
          <div layout="column" style="padding: 10px;">
            <div layout="row" layout-xs="column">  <!-- Ommit float right-->
                This is Cart Title
              </div>
            <div layout="row" layout-xs="column">  <!-- Ommit float right-->
                The HTML form begins with a method of 'post' (which sends the form data as its own stream, as opposed to the 'get' method which encodes the data as part of the URL). The [process] tag creates a special URL for form processing. Interchange has a built-in form processor that is configured by submitting certain fields in the form. The Finalize button will invoke this form processor and link the user to the special_pages/receipt.html page, which is described later.
            </div>
          </div>
      </md-card>
    </div>
  </div>
</div>
<div layout="column" layout-xs="column" style="background:#fff;padding:10px 0;">
  <slider images="images"></slider> 
   
</div>